@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  background-color: var(--primary-color);
  font-family: 'Cormorant Upright', serif;
}

header {
  background-color: #fff;
  z-index: -100;
}

#nav-list {
  list-style: none;
  gap: 6rem;
  font-size: 18px;
  color: black;
}

.bold-underline {
  font-weight: bolder;
  text-decoration: underline;
}

.foot {
  border-top: 1px solid black;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.footext {
  display: flex;
  justify-content: end;
}

.foot .footext li {
  list-style: none;
  margin-right: 1rem;
  color: #fff;
  font-size: 16px;
}

.foot h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.comments-pop {
  border-color: var(--secondary-color);
  width: 70%;
  margin: auto;
  background-color: #fff;
  border-radius: 2rem;
}

.img-div {
  width: 65%;
  margin: 2rem auto;
  display: flex;
}

.img-div img {
  width: 70%;
  margin: 2rem auto 0 auto;
  position: relative;
}

.fa-times {
  font-size: 30px;
  position: absolute;
  left: 82.5%;
  margin-top: 5px;
}

.comments-pop h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.specs {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 25%);
  grid-template-rows: repeat(2, 25px);
  text-align: end;
  margin-left: 20%;
  margin-bottom: 1rem;
}

.show-comments {
  text-align: center;
  position: relative;
}

.show-comments ul {
  list-style: none;
}

.add-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.add-comments form {
  margin: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 1rem;
  padding: 10px 2rem;
}

form textarea {
  margin-bottom: 1rem;
  padding: 2rem;
}

form button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
}
